.idea
__pycache__
ProcessResults
Dataset
bars
disps
disps_train
.venv
runs
result.jpg
result.json
res_disp.jpg
res_num.jpg
fil_bars
fil_disps
*.jpg
*.jfif
*.webp
*.zip
*.rar
annotations*
*.txt
*.csv
*.yml
*.json
